body { margin: 0; padding: 0 }
#header {  width: 100%; height: 61px; margin: 10px 0; }
#details {padding-top: 29px; float: left;}
#logo { height: 61px; width: 250px; float: left; }
#share { position: absolute; top: 10px; right: 10px; }
#sites { width: 200px; }
#more { display: none; }
#map {  width: 100%; }

#user { background-color: #E0EAF1; height: 80px; width: 300px; }
#avatar { float: left; padding-right: 10px; }
#name a { color: #07C; }
#reputation { font-weight: bold; }
#badges { padding-left: 5px; }
#badges span { padding-left: 5px; }
#badges span:before { content: "\2022"; padding-left: 5px; font-weight: bold; }
#gold:before { color: #ffcc00; }
#silver:before { color: #c4c4c4; }
#bronze:before { color: #cc9966; }

#accept-rate { font-weight: bold; color: #508850; }

#credits {
  position: absolute;
  right: 0px;
  bottom: 19px; 
  height: 19px;
  -webkit-user-select: none; 
  line-height: 19px; 
  padding-right: 10px; 
  padding-left: 50px;
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0px, rgba(255, 255, 255, 0.496094) 50px);
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial; 
  font-family: Arial, sans-serif;
  font-size: 10px;
  color: rgb(68, 68, 68);
  white-space: nowrap;
  direction: ltr; 
  text-align: right;
  background-position: initial initial;
  background-repeat: initial initial; 
}
